@model TraineeDto
@{
    SelectList selectListItems = new SelectList(ViewBag.Depts, "Id", "Name");
}
<form asp-action="Edit" asp-controller="Trainee" asp-route-id="@ViewBag.Trainee.Id" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <label asp-for="Name"></label>
            <input  class="form-control" placeholder="Name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Address" ></label>
            <input  class="form-control" placeholder="Address" asp-for="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Image"></label>
            <input class="form-control" placeholder="Image" asp-for="Image">
            <img src="/Images/@ViewBag.Trainee.Image" style="height:75px;width:75px;margin:10px 5px;" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Grade"></label>
            <input class="form-control" placeholder="Grade" asp-for="Grade">
            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="DepartNum" for="inputState"></label>
            <select asp-for="DepartNum" asp-items="selectListItems" id="inputState" class="form-control">
               
            </select>
            <span asp-validation-for="DepartNum"class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}