@model InstructorDto
@{
    SelectList selectListDeptItems = new SelectList(ViewBag.Departments, "Id", "Name");
}
<form asp-action="Edit" asp-controller="instructor" asp-route-id="@ViewBag.Instructor.Id" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <label asp-for="Name"></label>
            <input class="form-control" placeholder="Name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Address"></label>
            <input class="form-control" placeholder="Address" asp-for="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Image"></label>
            <div class="row">
                <input class="form-control" placeholder="Image" asp-for="Image">
                <img src="/Images/@ViewBag.Instructor.Image" style="height:75px;width:75px;margin:10px 5px;"  />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Salary"></label>
            <input class="form-control" placeholder="Salary" asp-for="Salary">
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="DepartId"></label>
            <select asp-for="DepartId" asp-items="selectListDeptItems" id="DeptID" class="form-control" onchange="GetCourses()">
            </select>
            <span asp-validation-for="DepartId" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="CourseId"></label>
            <select asp-for="CourseId" id="CourseId" class="form-control">
            </select>
            <span asp-validation-for="CourseId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            GetCourses();
        });
        function GetCourses() {
            var deptId = document.getElementById("DeptID").value;
            $.ajax({
                url: "/course/GetCoursesByDeptId/",
                data: { "deptId": deptId },
                success: function (result) {
                    document.getElementById("CourseId").innerHTML = result;
                }
            })
        }

    </script>
}