@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
             <div class="col">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control"  />
            </div>
            <div class="col">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
              </div>
        </div>
            <div class="row">
                  <div class="col">
                      <label asp-for="Input.PhoneNumber"></label>
                      <input asp-for="Input.PhoneNumber" class="form-control" />
                      <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                  </div> 
                  <div class="col">
                      <label asp-for="Input.ImageFile"></label>
                      <input asp-for="Input.ImageFile" class="form-control" />
                      <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                  </div>
                  <div class="col">
                      <img src="/Images/@Model.Input.Image" style="height:75px;width:75px;margin:10px 5px;" />
                  </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}