@model Department

<form asp-action="AddDepartment" asp-controller="Department" method="post">
    <div class="row">
        <div class="col">
            <label asp-for="Name"></label>
            <input class="form-control" placeholder="Name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Manager"></label>
            <input class="form-control" placeholder="Manager" asp-for="Manager">
            <span asp-validation-for="Manager" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
